.jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
}
.jumbotron * {
  font-size: bold;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}